*~
pkg
subst
pkginfo
Prototype
nagios.SPARC.pkg.tar.gz
autom4te.cache
configure
config.guess
config.sub
install-sh
Makefile.in
config.log
config.status
daemon-init
daemon-systemd
naemon.logrotate
Makefile
.deps/
.libs/
*.o
*.la
*.lo
*.gcda
*.gcno
*.gcov
*.a
*.so
*.pyc
gmon.out
core.[1-9]*
/Documentation
*.pre-indent
/config.h
/config.h.in
depcomp
aclocal.m4
compile
/stamp-h1
missing
/test-*
libtool
ltmain.sh
.dirstamp
naemon/defaults.h
m4/
naemon-uninstalled.pc
naemon.pc
naemon.log
/Debug
*.8
*.log
*.trs
.naemon.official
COPYING
INSTALL
naemon.logrotate.el6
naemon.logrotate.el7
debian/naemon-core.logrotate
debian/*.debhelper
debian/*.substvars
debian/naemon-core/
debian/naemon-dev/
debian/tmp/
debian/libnaemon/
debian/files
build