*~
pkg
subst
pkginfo
Prototype
nagios.SPARC.pkg.tar.gz
autom4te.cache
configure
config.guess
config.sub
install-sh
Makefile.in
config.log
config.status
daemon-init
daemon-systemd
naemon.logrotate
Makefile
.deps/
.libs/
*.o
*.la
*.lo
*.gcda
*.gcno
*.gcov
*.a
*.so
gmon.out
core.[1-9]*
/Documentation
*.pre-indent
/config.h
/config.h.in
depcomp
aclocal.m4
compile
/stamp-h1
missing
/test-driver
libtool
ltmain.sh
naemon/defaults.h
m4/
