/test*.log
/test*.trs
/test-checks
/test-obj-config-parse
/test-event-heap
/test-external-command-nebcallback
/test-kv-command
/test-config
/test-kvvec
/test-kvvec-ekvstr
/test-log
/test-utils
/test-check-scheduling
/test-objects
/test-arith
/test-arith-builtins
/test-check-dependencies
/test-check-result-processing
/test-neb-callbacks
/test-query-handler
/test-retention
/test-scheduled-downtimes
/test-worker
