Source: naemon-core
Section: net
Priority: optional
Maintainer: Naemon Core Development Team <naemon-dev@monitoring-lists.org>
Build-Depends:
    debhelper (>= 9.20151219),
    gperf,
    help2man,
    libicu-dev,
    pkg-config,
    libglib2.0-dev,
    fakeroot,
    autoconf,
    automake,
    libtool
Standards-Version: 3.7.3
Homepage: https://www.naemon.io
Bugs: https://github.com/naemon/naemon-core/issues
Vcs-Browser: https://github.com/naemon/naemon-core
Vcs-Git: git://github.com:naemon/naemon-core.git

Package: naemon-core
Architecture: any
Depends:
    adduser,
    coreutils (>= 4.5.3),
    lsb-base (>= 3.0-6),
    bsd-mailx | mailx | sendemail,
    libnaemon (>= ${binary:Version})
    ${misc:Depends},
    ${perl:Depends},
    ${shlibs:Depends}
Replaces: naemon-tools
Conflicts: naemon-tools
Recommends: nagios-plugins
Description: host/service/network monitoring and management system
 Naemon is a monitoring and management system for hosts, services and
 networks.
 .
 Naemon features include:
 .
  *  Monitoring of network services (via TCP port, SMTP, POP3, HTTP, NNTP,
     PING, etc.)
  *  Plugin interface to allow for user-developed service checks
  *  Contact notifications when problems occur and get resolved (via email,
     pager, or user-defined method)
  *  Ability to define event handlers to be run during service or host events
     (for proactive problem resolution)
  *  Web output (current status, notifications, problem history, log file, etc.)
 .
 Naemon was written in C and is designed to be easy to understand and modify
 to fit your own needs.
 .
 Upstream URL: https://www.naemon.io/

Package: naemon-dev
Architecture: any
Depends:
    ${misc:Depends},
    ${perl:Depends},
    ${shlibs:Depends},
    libnaemon (>= ${binary:Version}),
    libglib2.0-dev
Description: This package contains the header files, static libraries and development
 documentation for Naemon. If you are a NEB-module author or wish to
 write addons for Naemon using Naemons own APIs, you should install
 this package.

Package: libnaemon
Section: libs
Architecture: any
Multi-Arch: same
Depends:
    ${misc:Depends},
    ${shlibs:Depends}
Description: Library for Naemon - common data files
 libnaemon contains the shared library for building NEB modules or addons for
 Naemon.


