#!/usr/bin/make -f
# debian/rules makefile for naemon

.PHONY: override_dh_strip

export DH_VERBOSE=1
DESTDIR=$(CURDIR)/debian/tmp/
ifeq ($(DEB_HOST_MULTIARCH),)
	LIBDIR=/usr/lib/naemon
else
	LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)
endif

override_dh_auto_configure:
	test -f configure || ./autogen.sh
	dh_auto_configure -- --prefix=/usr \
				--bindir="/usr/bin" \
				--datadir="/usr/share/naemon" \
				--libdir="$(LIBDIR)" \
				--includedir="/usr/include" \
				--localstatedir="/var/lib/naemon" \
				--sysconfdir="/etc/naemon" \
				--with-naemon-config-dir="/etc/naemon/module-conf.d" \
				--with-pkgconfdir="/etc/naemon" \
				--mandir="/usr/share/man" \
				--enable-event-broker \
				--with-pluginsdir="/usr/lib/naemon/plugins" \
				--with-tempdir="/var/cache/naemon" \
				--with-checkresultdir="/var/cache/naemon/checkresults" \
				--with-logdir="/var/log/naemon" \
				--with-initdir="/etc/init.d" \
				--with-logrotatedir="/etc/logrotate.d" \
				--with-naemon-user="naemon" \
				--with-naemon-group="naemon" \
				--with-lockfile="/run/naemon/naemon.pid"
	if [ "x$(DEB_HOST_MULTIARCH)" != "x" ]; then \
		echo $(LIBDIR)/pkgconfig/naemon.pc usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/ >> debian/naemon-dev.install; \
	else \
		echo $(LIBDIR)/pkgconfig/naemon.pc usr/share/pkgconfig/ >> debian/naemon-dev.install; \
	fi
	echo "$(LIBDIR)/libnaemon.so*" >> debian/libnaemon.install
	echo "$(LIBDIR)/libnaemon.a"   >> debian/naemon-dev.install
	echo "$(LIBDIR)/libnaemon.la"  >> debian/naemon-dev.install



override_dh_auto_install:
	dh_auto_install
	# because we globally disabled binary striping, we have to do this manually for some files
	cp -p debian/tmp/usr/bin/naemon debian/tmp/usr/bin/naemon-dbg
	strip debian/tmp/usr/bin/naemon
	strip debian/tmp/usr/bin/naemonstats
	strip debian/tmp$(LIBDIR)/libnaemon.so.0.0.0
	mv debian/tmp/etc/logrotate.d/naemon debian/tmp/etc/logrotate.d/naemon-core
	cp naemon.logrotate.el7 debian/naemon-core.logrotate
	mkdir -p debian/tmp/usr/lib/naemon
	ln -s /usr/lib/nagios/plugins debian/tmp/usr/lib/naemon/plugins
	mkdir -p -m 0755 debian/tmp/usr/share/naemon/examples
	mv debian/tmp/etc/naemon/conf.d debian/tmp/usr/share/naemon/examples
	# get rid of dependency_libs in la files, see https://wiki.debian.org/ReleaseGoals/LAFileRemoval
	sed -i "/dependency_libs/ s/'.*'/''/" `find . -name '*.la'`
	# Move SystemV init-script
	install -D -m 0755 debian/naemon-core.naemon.init debian/tmp/usr/bin/naemon-ctl
	install -D -m 0644 sample-config/naemon.sysconfig debian/tmp/etc/default/naemon
	mkdir -p -m 0755 debian/tmp/etc/naemon/module-conf.d

override_dh_gencontrol:
	dh_gencontrol

override_dh_strip:
	dh_strip -pnaemon-core --dbg-package=naemon-core-dbg

override_dh_installinit:
	# make space for the debian specific rc file
	rm debian/naemon-core/etc/init.d/naemon
	dh_installinit --name=naemon

override_dh_auto_test:

%:
	dh $@

