# Copy to .devcontainer/.env to override the defaults.
#
# Directory that gets mounted at /workspaces/modules inside the container.
# Put the sources of the event broker modules you want to build there.
# Relative paths are resolved against .devcontainer/, absolute paths work too.
#
# The default is the parent directory of your naemon-core checkout:
#NAEMON_MODULES_DIR=../..
