name: citest

on:
  push:
  pull_request:
  release:

jobs:
  citest:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      #- name: Setup tmate session, see https://github.com/marketplace/actions/debugging-with-tmate
      #  uses: mxschmitt/action-tmate@v3
      - name: prepare machine
        run: |
          sudo apt-get update
          sudo apt-get install \
              autoconf \
              build-essential \
              libglib2.0-dev \
              gperf \
              check \
              help2man \
              python3-pip \
              flake8 \
              python3-behave

      - name: run build
        run: |
          ./autogen.sh
          make

      - name: run tests
        run: |
          make check VERBOSE=1
          make distcheck
          flake8 features/
          behave
